.accordion-title {
  text-align: center;
  color: #ddd;
  margin-bottom: 0.5rem;
}

.imissjustin-accordion {
  width: 100%;
  margin: 90px auto;
  color: black;
  background-color: #333;
  padding: 45px 45px;
  border-radius: 0.25rem;
  border: 1px solid gray;
}

.imissjustin-accordion .container {
  position: relative;
  margin: 10px 10px;
}

.imissjustin-accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: #ddd;
  cursor: pointer;
}

.imissjustin-accordion .label::before {
  content: "+";
  color: #ddd;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.imissjustin-accordion .content-wrapper {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.imissjustin-accordion .content {
  position: relative;
  background: #333;
  color: #ddd;
  font-size: 20px;
  text-align: justify;
}

.imissjustin-accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid gray;
}

.imissjustin-accordion .container.active .content {
  height: 150px;
}

.imissjustin-accordion .container.active .label::before {
  content: "-";
  font-size: 30px;
}
